---
import "../assets/style.css";
import pfp from "../assets/pfp.png";
import { Image } from 'astro:assets';
const { title, frontmatter } = Astro.props;
import { SITE_TITLE, USER } from "../constants";
import twemoji from "@twemoji/api";
import Marque from "../components/Marque.astro";
import SocialIcon from "../components/SocialIcon.astro";

const slotContent = await Astro.slots.render("default");
const parsedContent = twemoji.parse(slotContent);

const pageTitle = title || (frontmatter && frontmatter.title);

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={SITE_TITLE} />
    <title>{ pageTitle } - {SITE_TITLE}</title>
  </head>
  <body>
    <div class="text-marquee-bg">
      <Marque title="ovrhead"/>
      <Marque title="ovrhead"/>
      <Marque title="ovrhead"/>
      <Marque title="ovrhead"/>
    </div>
    <main>
      <header class="profile">
        <Image src={pfp} alt={`${USER.username}'s profile picture`} class="pfp" />
        <div class="profile-info">
          <h1>{USER.username}</h1>
          <h2>{USER.job}</h2>
          <h3>{USER.pronouns}</h3>
          <p>
            <SocialIcon social="discord" link="https://discord.com/users/728930459479965747"/>
            <SocialIcon social="github" link="https://github.com/ovrhead"/>
          </p>
        </div>
      </header>

      <div class="content" set:html={parsedContent} />
      <footer>{new Date().getFullYear()} ovrhead</footer>
    </main>
  </body>
</html>
